table {
  border-collapse: collapse;
  background-color: #f5f5dc;
  width: 572px;
  height: 446px;
  margin: auto;
}

table, th{
  border: 4px dotted;
}

th {
  font-style: italic;
  font-family: Impact;
  font-size: 30px;
  padding: 0;
  height: 36px;
}

td:first-child {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  text-align: justify;
  font-size: 11px;
  font-family: verdana;
}

.poem {
  text-align: center;
  font-style: italic;
  margin: 0;
  font-size: 15.49px;
  font-family: "Avenir";
}

.poem::first-letter{
  font-weight: bold;
}

#last {
  padding-top: 2px;
  font-family: verdana;
  font-size: 10px;
  text-align: center;
}

div {
  border-radius: 5px;
  padding-top: 5px;
  width: 1024px;
  height: 454px;
  background-color: #e2ac7f;
}

a {
  color: blue;
}
